version: "3.8"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: daymark-api
    restart: unless-stopped
    ports:
      - "3001:3001"
    env_file:
      - .env
    networks:
      - daymark-network
volumes:
  postgres_data:
    driver: local

networks:
  daymark-network:
    driver: bridge
